@{
	ViewData["Title"] = "Gallery";
	if (String.IsNullOrEmpty((string?)ViewData["Username"])) { ViewData["Username"] = ", User"; }
	var products = ViewBag.products;
}

<div id="body-gallery">
	<script src="~/js/site.js"></script>
	<h1 class="display-4">Gallery/Index</h1><br />
	<form id="formSearch">
		<div class="input-group">
			<span class="input-group-text" id="buttonSearch" onclick="document.getElementById('formSearch').submit();">
				<i class="bi bi-search"></i>
			</span>
			<input type="text" class="form-control" id="searchbar" name="search" placeholder="Enter your search here...">
		</div>
	</form>

	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
		@foreach (Product p in products)
		{
			string displayPrice = String.Format($"{p.Price:C2}");

			<div class="col">
				<div class="card">
					<img src="@p.ImageUrl" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">@p.Name</h5>
						<p class="card-text desc-height-3">@p.Description</p>
					</div>
					<div class="card-footer">
						<button type="button" class="btn btn-primary" onclick="addtocart('@p.Id')">@displayPrice - Add to Cart</button>
					</div>
				</div>
			</div>
		}
	</div>
</div>

