USE [ShoppingCart]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 15/10/2023 8:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CustomerID] [varchar](50) NOT NULL,
	[ProductID] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK__Cart__CD27494E4FDD6425] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 15/10/2023 8:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [varchar](50) NOT NULL,
	[ProductID] [varchar](50) NOT NULL,
	[ActivationCode] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC,
	[ActivationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHeader]    Script Date: 15/10/2023 8:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHeader](
	[OrderID] [varchar](50) NOT NULL,
	[CustomerID] [varchar](50) NOT NULL,
	[PurchaseDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductList]    Script Date: 15/10/2023 8:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductList](
	[ProductID] [varchar](50) NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 15/10/2023 8:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Username] [varchar](50) NOT NULL,
	[Passhash] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [ActivationCode]) VALUES (N'O2869', N'CS002', N'A')
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [ActivationCode]) VALUES (N'O2869', N'CS002', N'B')
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [ActivationCode]) VALUES (N'O2869', N'CS008', N'C')
GO
INSERT [dbo].[OrderHeader] ([OrderID], [CustomerID], [PurchaseDate]) VALUES (N'O2869', N'john', CAST(N'2022-05-12' AS Date))
INSERT [dbo].[OrderHeader] ([OrderID], [CustomerID], [PurchaseDate]) VALUES (N'O2870', N'john', CAST(N'2023-06-25' AS Date))
INSERT [dbo].[OrderHeader] ([OrderID], [CustomerID], [PurchaseDate]) VALUES (N'O2871', N'john', CAST(N'2023-06-25' AS Date))
GO
INSERT [dbo].[ProductList] ([ProductID], [ProductName], [Description], [Price]) VALUES (N'CS001', N'.NET Charts', N'Brings powerful charting capabilities to your .NET applications.', CAST(20.00 AS Decimal(10, 2)))
INSERT [dbo].[ProductList] ([ProductID], [ProductName], [Description], [Price]) VALUES (N'CS002', N'.NET Paypal', N'Integrate your .NET apps with PayPal the easy way!', CAST(30.00 AS Decimal(10, 2)))
INSERT [dbo].[ProductList] ([ProductID], [ProductName], [Description], [Price]) VALUES (N'CS003', N'.NET ML', N'Supercharged .NET machine learning libraries.', CAST(25.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[User] ([Username], [Passhash]) VALUES (N'admin', N'b2e98ad6f6eb8508dd6a14cfa704bad7f05f6fb1')
INSERT [dbo].[User] ([Username], [Passhash]) VALUES (N'john', N'e38ad214943daad1d64c102faec29de4afe9da3d')
GO
ALTER TABLE [dbo].[OrderHeader]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[User] ([Username])
GO
