USE [ShoppingCart]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 13-Oct-23 8:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [varchar](50) NOT NULL,
	[ProductID] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ActivationCode] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC,
	[ActivationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHeader]    Script Date: 13-Oct-23 8:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHeader](
	[OrderID] [varchar](50) NOT NULL,
	[CustomerCode] [varchar](50) NOT NULL,
	[PurchaseDate] [date] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductList]    Script Date: 13-Oct-23 8:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductList](
	[ProductID] [varchar](50) NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 13-Oct-23 8:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](128) NULL,
	[Phone] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity], [ActivationCode]) VALUES (N'A1823', N'CA001', 1, N'O43G5UA7O2')
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity], [ActivationCode]) VALUES (N'A1823', N'CA028', 1, N'A34H67FO2R')
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity], [ActivationCode]) VALUES (N'A1823', N'CA028', 1, N'TI23S54OGS')
GO
INSERT [dbo].[OrderHeader] ([OrderID], [CustomerCode], [PurchaseDate], [TotalPrice]) VALUES (N'A1823', N'DaddyLuke', CAST(N'2023-10-09' AS Date), CAST(100.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[ProductList] ([ProductID], [ProductName], [Description], [Price]) VALUES (N'CA001', N'.NET Charts', N'Powerful charting capabilites for .NET application', CAST(20.00 AS Decimal(10, 2)))
INSERT [dbo].[ProductList] ([ProductID], [ProductName], [Description], [Price]) VALUES (N'CA002', N'Item 2', N'Item 2', CAST(30.00 AS Decimal(10, 2)))
INSERT [dbo].[ProductList] ([ProductID], [ProductName], [Description], [Price]) VALUES (N'CA003', N'Item 3', N'Item 3', CAST(25.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[User] ([Username], [Password], [Name], [Address], [Phone], [Email]) VALUES (N'DaddyLuke', N'lululu', N'Luke', N'Buona Vista', N'11191919', N'luke@gmail.com')
INSERT [dbo].[User] ([Username], [Password], [Name], [Address], [Phone], [Email]) VALUES (N'GodBrandon', N'brabrabra', N'Brandon', N'Common Wealth', N'10087887', N'brandon@gmail.com')
GO
ALTER TABLE [dbo].[OrderHeader]  WITH CHECK ADD FOREIGN KEY([CustomerCode])
REFERENCES [dbo].[User] ([Username])
GO
