@{
	ViewData["Title"] = "My Cart";
	if (String.IsNullOrEmpty((string?)ViewData["Username"])) { ViewData["Username"] = ", User"; }
	var products = ViewBag.products;
}

<div id="body-cart">
	<h1 class="display-4">Cart/Index</h1><br />

	<div class="product-container">
	@foreach(Product p in products)
	{	
		string displayPrice = String.Format($"{p.Price:C2}");

		<div class="row product-row justify-content-center mb-4">
			<div class="col-6 col-md-4">
				<div class="card">
					<img src="/img/001.png" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">@p.Name</h5>
						<p class="card-text desc-height-3">@p.Description</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-4 product-details-container">
				<div class="product-details">
					<div class="row">
						<span class="col-4">Price:</span>
						<span class="col-8">@displayPrice</span>
					</div>
					<div class="row">
						<span class="col-4">Quantity:</span>
						<span class="col-8"><input type="number" class="form-control" style="max-width:5rem" /></span>
					</div>
					<div class="row">
						<span class="col-4"></span>
						<span class="col-8"><button class="btn btn-danger">Remove</button></span>
					</div>
				</div>
			</div>
		</div>
	}
	</div>
</div>
